.advantages {
  background-color: #f8f9fc;
  padding: 114px 0;
  text-align: center;
  position: relative;
  box-sizing: border-box;

  h2 {
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    font-size: 47px;
    line-height: 47px;
    letter-spacing: 0.055em;
    padding-left: 3px;
    color: #102654;
    margin: 0;
    margin-bottom: 67px;
  }
}

.advantages__wrapper {
  max-width: 1045px;
  min-height: 318px;
}

.advantages__top,
.advantages__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;

  > div {
    display: flex;
    min-height: 50%;
    text-align: left;
    width: 340px;
    box-sizing: border-box;
  }

  > div:first-child {
    padding-left: 28px;
    width: 350px;
  }

  > div:last-child {
    padding-right: 10px;
  }

  strong {
    font-weight: bold;
    font-size: 71px;
    line-height: 90%;
    margin-right: 30px;
    color: rgba(0, 0, 0, 0);
    background-clip: text;
    background-image: linear-gradient(160deg, #ed0233 17.6%, #003eb7 70%);
  }

  span {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #2e35ac;
  }

  b {
    font-weight: bold;
    font-size: 22px;
    line-height: 150%;
    color: #102654;
  }

  p {
    margin: 0;
    margin-top: 5px;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #102654;
  }
}

.advantages__top > div {
  min-height: 154px;
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);
  align-items: flex-start;
}

.advantages__bottom > div {
  min-height: 154px;
  align-items: flex-end;
}

.advantages__bottom > div:first-child {
  padding-left: 20px;
}

.advantages__center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
  width: 240px;
  min-height: 308px;
  background-color: #1c3374;
  padding: 55px 34px;
  box-sizing: border-box;

  strong {
    font-weight: bold;
    font-size: 74px;
    line-height: 74px;
    color: #ffffff;
  }

  span {
    font-weight: bold;
    font-size: 26px;
    line-height: 150%;
    color: #ffffff;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    margin: 0;
    margin-top: 35px;
  }
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .advantages__top strong,
  .advantages__bottom strong {
    color: darkblue;
    background-image: none;
  }
}

@media (max-width: $mid-size) {
  .advantages {
    padding: 100px 0 97px;

    h2 {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 50px;
      letter-spacing: 0.06em;
    }
  }

  .advantages__top,
  .advantages__bottom {
    > div {
      display: flex;
      min-height: 50%;
      text-align: left;
      width: 320px;
      box-sizing: border-box;
    }

    > div:first-child {
      padding-left: 0;
    }

    > div:last-child {
      padding-right: 0;
    }

    strong {
      font-size: 58px;
      margin-right: 10px;
    }

    b {
      font-size: 20px;
      line-height: 22px;
    }

    p {
      margin-top: 5px;
      width: 80%;
    }
  }

  .advantages__top > div {
    min-height: 110px;
    border-bottom: none;
    align-items: flex-start;
  }

  .advantages__top > div:last-child {
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
  }

  .advantages__parking {
    width: 90%;

    p {
      width: 100%;
    }
  }

  .advantages__bottom {
    > div {
      min-height: 110px;
      align-items: flex-end;
    }

    > div:last-child {
      margin-right: 5px;
    }

    strong {
      margin-right: 30px;
    }

    p {
      width: 90%;
    }
  }

  .advantages__expirience p {
    width: 100%;
  }

  .advantages__center {
    position: relative;
    width: 442px;
    min-height: 239px;
    padding: 35px 135px 20px;
    margin-bottom: 12px;

    span {
      font-size: 22px;
    }

    p {
      margin-top: 12px;
    }
  }
}

@media (max-width: $min-size) {
  .advantages {
    padding: 67px 0 26px;

    h2 {
      font-size: 31px;
      line-height: 31px;
      letter-spacing: 0.05em;
    }
  }

  .advantages__wrapper {
    margin: 0;
  }

  .advantages__top,
  .advantages__bottom {
    flex-direction: column;

    > div {
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
      margin-bottom: 38px;
    }

    strong {
      display: inline-block;
      width: 100%;
      text-align: center;
      vertical-align: baseline;
    }

    span {
      display: inline-block;
      margin-bottom: 8px;
      vertical-align: baseline;
    }

    p {
      margin: 0 auto;
      margin-top: 7px;
      width: 80%;
    }
  }

  .advantages__bottom > div:first-child,
  .advantages__top > div:first-child {
    width: 100%;
  }

  .advantages__center {
    width: 100%;
    min-height: 239px;
    padding: 43px 74px;
    margin-bottom: 50px;

    strong {
      line-height: 90%;
    }

    span {
      font-size: 22px;
    }

    p {
      margin-top: 7px;
    }
  }
}
