.contacts {
  padding: 120px 0;
  padding-bottom: 117px;
  background-color: #f9fbfd;
}

.contacts__wrapper {
  flex-wrap: nowrap;
  position: relative;
  margin: 0 103px;
}

.contacts__description {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #011c40;
    margin: 0;
    margin-bottom: 35px;
  }

  div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #011c40;
  }

  svg {
    margin-right: 10px;
    min-width: 18px;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #011c40;
  }

  a:hover {
    opacity: 0.5;
  }
}

@media (max-width: $max-size) {
  .contacts__description {
    margin-left: 30px;
  }
}

@media (max-width: $mid-size) {
  .contacts {
    padding: 100px 0;
    padding-bottom: 95px;
  }

  .contacts__wrapper {
    margin: 0 45px;

    img {
      width: 324px;
      height: 335px;
      object-fit: cover;
    }

    .contacts__address {
      align-items: flex-start;
    }
  }

  .contacts__description {
    width: 325px;

    p {
      margin-bottom: 25px;
    }
  }

  .contacts__address svg {
    margin-top: 5px;
  }
}

@media (max-width: $min-size) {
  .contacts {
    padding: 45px 0;
    padding-bottom: 65px;
  }

  .contacts__wrapper {
    flex-direction: column-reverse;
    margin: 0 15px;

    img {
      display: block;
      width: 100%;
      max-width: 450px;
      height: 316px;
      margin: 0 auto;
      margin-top: 10px;
    }
  }

  .contacts__description {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;


    p {
      padding-right: 10px;
      margin-bottom: 27px;
    }
  }
}
