.contacts {
  background-color: #ffffff;
  border-top: 1px solid #74819C;
  width: 50%;
  padding: 65px 0 30px;
  box-sizing: border-box;

  h2 {
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: #102654;
    margin: 0;
    margin-bottom: 45px;
    width: 100%;
  }

  strong {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #102654;
  }

  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #102654;
    margin: 0;
    margin-top: 6px;
  }
}

.contacts__wrapper {
  max-width: 436px;
  justify-content: flex-start;

  > div {
    min-height: 110px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.contacts__left-side {
  width: 45%;
  margin-right: 33px;
}

.contacts__right-side {
  width: 40%;
  padding-left: 60px;
  border-left: 1px solid #74819C;
}

@media (max-width: $mid-size) {
  .contacts {
    width: 100%;
    padding: 68px 90px;
    padding-right: 110px;
    box-sizing: border-box;

    h2 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 40px;
    }

    strong {
      font-size: 20px;
      line-height: 20px;
    }

    p {
      font-size: 18px;
      margin-top: 15px;
    }
  }

  .contacts__wrapper {
    max-width: 100%;
  }

  .contacts__left-side {
    width: 48%;

    div:first-child {
      margin-bottom: 32px;
    }
  }

  .contacts__right-side {
    padding-left: 50px;
  }
}

@media (max-width: $min-size) {
  .contacts {
    padding: 68px 0;

    h2 {
      font-size: 32px;
      line-height: 32px;
    }

    p {
      margin-top: 17px;
    }
  }

  .contacts__wrapper {
    display: block;

    > div {
      margin-right: 0;
      width: 100%;
      min-height: 133px;
    }
  }

  .contacts__left-side {
    margin-bottom: 30px;
  }

  .contacts__right-side {
    padding-left: 0;
    border: none;

  }
}
