.footer {
  min-height: 138px;
  background-color: #011c40;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__wrapper {
  width: 100%;
  flex-wrap: nowrap;
}

.footer__nav {
  display: flex;

  > a {
    display: flex;
    align-items: center;
    margin-right: 7px;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-left: 5px;
  width: 90%;
  flex-grow: 1;

  li {
    display: flex;
    align-items: center;
  }

  a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #f9fbfd;
    text-decoration: none;
    margin-left: 33px;
  }
}

.footer__social {
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    min-width: 100px;
    padding: 0;
  }

  a,
  li {
    display: flex;
    align-items: center;
  }

  li {
    margin: 15px 0;
    margin-left: 33px;
  }
}

@media (max-width: $max-size) {
  .footer__list a {
    margin-left: 20px;
  }
}

@media (max-width: $mid-size) {
  .footer__wrapper {
    padding-bottom: 15px;
  }

  .footer__nav img {
    width: 38px;
    height: 20px;
  }

  .footer__list {
    margin-left: 0;

    a {
      font-size: 12px;
      line-height: 15px;
    }

    li {
      margin-right: 2px;
    }
  }

  .footer__social {
    ul {
      min-width: 80px;
    }

    li {
      margin: 10px 0;
      margin-left: 19px;
    }

    svg {
      transform: scale(0.75);
    }
  }
}

@media (max-width: $min-size) {
  .footer__nav {
    display: block;

    img {
      width: 42px;
      height: 22px;
    }
  }

  .footer__list {
    display: block;
    margin-top: 27px;

    li {
      margin-bottom: 17px;
    }

    a {
      margin-left: 0;
    }
  }

  .footer__wrapper {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 35px;
  }

  .footer__social {
    ul {
      margin-top: 7px;
      justify-content: flex-start;
    }

    li {
      margin-right: 19px;
      margin-left: 0;
      margin-top: 0;
    }
  }
}
