.gym {
  background-color: #ffffff;
  padding-top: 120px;
}

.gym__wrapper {
  flex-wrap: nowrap;
}

.gym__description {
  width: 30.4%;
  margin-left: 62px;

  h2 {
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.035em;
    color: #102654;
    margin-top: 43px;
    margin-bottom: 12px;
  }

  strong {
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #102654;
    margin-bottom: 40px;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #102654;
    margin: 0;
    margin-bottom: 8px;
  }
}

.gym__image img {
  object-fit: cover;
}

.gym__video {
  position: relative;
  transform: translateY(-52%);
  left: -65px;
  width: 364px;
  height: 228px;

  svg {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 50%;
    padding: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(20, 54, 122, 0.5);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    background-image: linear-gradient(44.89deg, #003D85 25.38%, #B80027 74.89%);
    border-radius: 50%;
    z-index: 2;

  }
}

@media (max-width: 1350px) {
  .gym__description {
    margin-left: 20px;
  }
}

@media (max-width: 1270px) {
  .gym__description {
    margin-left: 0;
    width: 28%;
  }
}

@media (max-width: $mid-size) {
  .gym {
    padding-top: 100px;
    padding-bottom: 183px;
  }

  .gym__wrapper {
    flex-wrap: wrap;
  }

  .gym__description {
    width: 100%;
    text-align: center;

    h2 {
      font-size: 42px;
      line-height: 42px;
      margin-top: 0;
      margin-bottom: 9px;
    }

    strong {
      margin-bottom: 35px;
    }

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: #102654;
      padding: 0 85px;
      padding-bottom: 40px;
      margin: 0;
    }
  }

  .gym__extent-description {
    display: none;
  }

  .gym__image {
    width: 678px;
    height: 345px;
    margin: 0 auto;

    img {
     width: 100%;
     height: 100%;
   }
  }



  .gym__video {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 266px;
    height: 167px;

    img {
      height: 100%;
    }

    svg {
      width: 12px;
      height: 12px;
      padding: 30px;
    }

    &::before {
      width: 52px;
      height: 52px;
    }
  }
}

@media (max-width: $min-size) {
  .gym {
    padding-top: 65px;
    padding-bottom: 105px;
    min-height: 750px;
  }

  .gym__description {
    text-align: left;

    h2 {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 8px;
    }

    strong {
      margin-bottom: 25px;
    }

    p {
      padding: 0;
      padding-right: 30px;
      padding-bottom: 30px;
      margin: 0;
    }
  }

  .gym__image {
    position: absolute;
    top: 270px;
    left: calc(50% - 160px);
    width: 320px;
    height: 313px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .gym__video {
    left: 0;
    bottom: -35px;
    transform: translate(0);
    width: 320px;
  }
}
