
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  min-height: 50px;

  a {
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
  }
}

// @media (max-width: $mid-size) {
//
// }

// @media (max-width: $min-size)
