
.header__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  min-height: 50px;
  padding: 0 5px;
  position: relative;

  a {
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    font-size: 26px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
  }

  a:hover {
    opacity: 0.5;
  }

  > a:hover {
    opacity: 1;
  }

  div {
    position: absolute;
    right: 5px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
  }
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header__wrapper {
    height: 50px;
  }
}

@media (max-width: $mid-size) {
  .header__wrapper {
    min-height: 63px;
    padding: 0;
    justify-content: space-between;

    img {
      width: 82px;
      height: 17px;
    }

    a {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.02em;
      margin-top: 0;
    }

    > a:first-child {
      margin-bottom: 5px;
    }

    div {
      position: static;
    }
  }
}

@media (max-width: $min-size) {
  .header__wrapper {
    min-height: 38px;

    img {
      width: 68px;
      height: 15px;
    }

    a {
      font-size: 20px;
      line-height: 20px;
    }
  }
}
