.main-body {
  background-color: rgba(101, 152, 199, 1);
  background-image: url("../img/background/top-back-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.main-body::after {
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 1300px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, white 50%);
  z-index: -1;
}

@media (min-resolution: $retina) {
  .main-body {
    background-color: rgba(101, 152, 199, 1);
    background-image: url("../img/background/top-back-desktopx2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .main-body::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 1300px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, white 50%);
    z-index: -1;
  }
}

@media (max-width: 1382px) {
  .main-body {
    background-image: url("../img/background/top-back-desktop.jpg");
    background-size: 1366px;
    background-position: top center;
  }

  .main-body::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 1300px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, white 50%);
    z-index: -1;
  }
}

@media (max-width: $mid-size) {
  .main-body {
    background-image: url("../img/background/top-back-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .main-body::after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 1275px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, white 50%);
    z-index: -1;
  }

  @media (min-resolution: $retina) {
    .main-body {
      background-image: url("../img/background/top-back-tabletx2.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .main-body::after {
      content: "";
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 1275px;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, white 50%);
      z-index: -1;
    }
  }
}

@media (max-width: $min-size) {
  .main-body {
    background-image: url("../img/background/top-back-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .main-body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, white 25%);
    z-index: -1;
  }

  @media (min-resolution: $retina) {
    .main-body {
      background-image: url("../img/background/top-back-mobilex2.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .main-body::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2000px;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, white 25%);
      z-index: -1;
    }
  }
}
