.main-content {
  padding-top: 160px;

  h1 {
    width: 100%;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    display: flex;
    align-items: center;
    color: #f9fbfd;
    margin: 0;
    margin-bottom: 13px;
    margin-left: 95px;
    padding: 0;
  }

  p {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #f9fbfd;
    margin: 0;
    margin-left: 95px;
    padding: 0;
  }
}

@media (max-width: $mid-size) {
  .main-content {
    padding-top: 188px;

    h1 {
      font-size: 50px;
      line-height: 61px;
      margin-left: 0;
    }

    p {
      font-size: 18px;
      line-height: 22px;
      margin-left: 0;
    }
  }
}

@media (max-width: $min-size) {
  .main-content {
    padding-top: 108px;

    h1 {
      font-size: 36px;
      line-height: 125%;
      min-height: 90px;
      margin-bottom: 11px;
    }

    p {
      font-size: 16px;
      line-height: 140%;
    }

    h1 + p {
      padding-right: 70px;
    }
  }

  .main-content.menu-opened {
    padding-top: 38px;

    h1 {
      margin-bottom: 30px;
    }
  }
}
