.main-body {
  background-color: #cccccc;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, white 50%) no-repeat, url(../img/background/top-back-desktop.jpg) no-repeat;
  background-size: auto 1200px, 100%;
}
