.button {
  width: 100%;
  min-height: 59px;
  border: 4px solid #ffffff;
  font-family: "Roboto Condensed", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .button {
    height: 59px;
  }
}

.bottom-block {
  display: flex;
}

@media (max-width: $mid-size) {
  .bottom-block {
    display: block;
  }
}
