.request-form {
  background-color: #102654;
  width: 50%;
  padding: 58px 0 70px;
  padding-right: 65px;
  box-sizing: border-box;

  h2 {
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    font-size: 49px;
    line-height: 64px;
    letter-spacing: 0.035em;
    text-transform: lowercase;
    color: #ffffff;
    margin: 0;
  }

  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 38px;
  }

  input {
    background-color: rgba(0, 0, 0, 0);
  }

  input[type="text"] {
    width: 45.5%;
    border: none;
    border-bottom: 1px solid #74819c;
    margin-bottom: 27px;
    padding-bottom: 5px;
  }

  input[type="text"]::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }

  input[type="submit"] {
    min-height: 55px;
    font-size: 14px;
    line-height: 16px;
  }
}

.request-form__wrapper {
  max-width: 410px;
}

@media (max-width: $mid-size) {
  .request-form {
    width: 100%;
    padding: 65px 87px 68px;
    padding-right: 110px;
    box-sizing: border-box;

    h2 {
      font-size: 42px;
      line-height: 42px;
    }

    form {
      width: 99%;
      padding-top: 40px;
    }

    input[type="text"] {
      width: 43%;
    }
  }

  .request-form__wrapper {
    max-width: 100%;
  }
}

@media (max-width: $min-size) {
  .request-form {
    width: 100%;
    padding: 70px 0 67px;

    h2 {
      font-size: 32px;
      line-height: 32px;
    }

    form {
      padding-top: 38px;
      width: 100%;
    }

    input[type="text"] {
      width: 100%;
      margin-bottom: 35px;
    }

    input[type="submit"] {
      margin-top: 4px;
    }
  }
}
