.shares {
  background-color: #ffffff;
  padding: 118px 0 110px;
  text-align: center;

  h2 {
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: #102654;
    margin: 0;
    margin-bottom: 56px;
  }

  img {
    object-fit: cover;
    min-width: 280px;
    height: 462px;
  }
}

.shares__wrapper {
  max-width: 84.9%;
}

.shares__unlimit {
  display: flex;
  width: 48.2%;

  div {
    background-color: #ED0233;
    padding: 45px;
    padding-right: 40px;
    margin-bottom: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  span {
    font-weight: bold;
    font-size: 28px;
    line-height: 90%;
    color: #FFFFFF;
  }

  strong {
    display: inline-block;
    font-weight: bold;
    font-size: 70px;
    line-height: 100%;
    color: #FFFFFF;
  }

  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: left;
  }

  a {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    flex-grow: 1;
  }
}

.shares__other {
  width: 48.2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 4px;

  div {
    min-height: 211px;
    padding: 25px 27px 29px;
    border: 6px solid blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  h3 {
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    color: #1C3374;
    margin: 0;
  }

  p {
    margin-top: 12px;
    margin-bottom: auto;
    text-align: left;
  }

  a {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1C3374;
  }
}

@media (max-width: $mid-size) {

  .shares {
    padding: 93px 0;

    h2 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 45px;
    }

    img {
      width: 399px;
      min-width: 399px;
      height: 462px;
    }
  }

  .shares__wrapper {
    flex-direction: column;
  }

  .shares__unlimit,
  .shares__other {
    width: 678px;
    margin: 0 auto;
  }

  .shares__unlimit {
    margin-bottom: 25px;
  }

  .shares__other {
    flex-direction: row;

    div {
      width: 47.8%;
    }

    p {
      line-height: 135%;
    }
  }
}

@media (max-width: $min-size) {
  .shares {
    padding: 65px 0 33px;

    h2 {
      font-size: 32px;
      line-height: 32px;
    }

    img {
      width: 290px;
      min-width: 290px;
      height: 299px;
    }
  }

  .shares__wrapper {
    max-width: 100%;
  }

  .shares__unlimit {
    flex-direction: column;
    width: 290px;

    div {
      align-items: center;
      margin-bottom: 0;
    }

    strong {
      line-height: 105%;
    }

    p {
      text-align: center;
      padding: 0 5px;
      margin-top: 15px;
      margin-bottom: 31px;
    }
  }

  .shares__other {
    flex-direction: column;
    width: 290px;


    div {
      width: 100%;
      margin-bottom: 30px;
      align-items: center;
      padding: 37px 27px 39px;
    }

    p {
      text-align: center;
    }
  }
}
