.site-navigation__list {
  display: flex;
  list-style: none;

  li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #F9FBFD;
    margin-left: 33px;
  }
}
