

.site-navigation__list {
  display: flex;
  list-style: none;
}

.site-navigation__item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #F9FBFD;
}
