.super-games {
  background-color: #ffffff;
  padding: 120px 0;
  padding-bottom: 55px;
  box-sizing: border-box;

  img {
    object-fit: cover;
  }
}

.super-games__wrapper {
  flex-wrap: nowrap;
}

.super-games__info {
  background-color: #ed0233;
  flex-grow: 1;
  padding: 78px 81px;
  width: 43.4%;
  box-sizing: border-box;

  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    margin: 0;
    margin-bottom: 45px;
  }

  a {
    min-height: 68px;
  }
}

.super-games__title {
  display: flex;
  margin-bottom: 15px;

  h2 {
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    font-size: 84px;
    line-height: 90px;
    letter-spacing: 0.07em;
    color: #ffffff;
    width: 202px;
    margin: 0;
    margin-right: 50px;
  }
}

.super-games__date,
.super-games__time {
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.super-games__date div,
.super-games__time div {
  width: 100%;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  border-top: 1px solid #ffffff;
}

.super-games__date {
  margin-top: 5px;
  margin-bottom: 18px;
}

.super-games__date div {
  width: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.super-games__date span {
  margin-left: 7px;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

@media (max-width: 1350px) {
  .super-games__info {
    padding: 50px;
  }
}

@media (max-width: $mid-size) {
  .super-games {
    padding: 100px 0 57px;
    display: flex;
    justify-content: center;

    img {
      width: 386px;
      height: 292px;
    }
  }

  .super-games__wrapper {
    width: 100%;
    max-width: 810px;
  }

  .super-games__info {

    padding: 45px;

    p {
      font-size: 12px;
      margin-bottom: 27px;
    }

    a {
      min-height: 41px;
      border: 2px solid #ffffff;
      font-size: 10px;
    }
  }

  .super-games__title {
    margin-bottom: 5px;

    h2 {
      font-size: 52px;
      line-height: 52px;
      width: 120px;
      margin-right: 27px;
      letter-spacing: 0.04em;
    }

    > div {
      padding-top: 3px;
    }
  }

  .super-games__date,
  .super-games__time {
    font-size: 12px;
  }

  .super-games__date div,
  .super-games__time div {
    font-size: 24px;
  }

  .super-games__date {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .super-games__date div {
    width: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .super-games__date span {
    margin-left: 2px;
    font-size: 10px;
    line-height: 120%;
  }

  @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .super-games img {
      width: 400px;
      height: 310px;
    }
  }
}

@media (max-width: $min-size) {
  .super-games {
    padding: 70px 0 30px;

    img {
      width: 100%;
      min-width: 100%;
      height: 292px;
    }
  }

  .super-games__wrapper {
    flex-wrap: wrap;
  }

  .super-games__info {
    margin-bottom: 0;
    padding: 45px 42px 50px;
    flex-grow: 0;
    width: 100%;

    p {
      font-size: 12px;
      margin-bottom: 28px;
    }
  }

  .super-games__image {
    width: 100%;
  }
}
