.tours {
  padding-top: 110px;
  padding-bottom: 90px;
  background-color: #f9fbfd;

  h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    color: #011c40;
  }
}

.tours__wrapper {
  justify-content: center;
}

.tours__card {
  position: relative;
  margin: 0 15px;
  margin-bottom: 26px;
  text-decoration: none;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #011c40;
    cursor: pointer;
    background-color: #f9fbfd;
    text-decoration: none;
    border: none;
    z-index: -1;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
  }

  a:focus {
    z-index: 2;
  }

  a:focus + h3 {
    left: 25px;
    top: 35px;
    z-index: 1;
  }

  a:focus ~ img {
    opacity: 0;
  }

  a:focus ~ .tours__description {
    opacity: 1;
  }

  h3 {
    position: absolute;
    margin: 0;
    bottom: 27px;
    left: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #f9fbfd;
    z-index: 1;
  }

  img {
    width: 260px;
    height: 386px;
    object-fit: cover;
  }
}

.tours__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  text-decoration: none;
  width: 260px;
  height: 386px;
  box-sizing: border-box;
  background-color: #011c40;
  padding: 100px 25px;
  padding-top: 75px;

  strong {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #f9fbfd;
  }

  p {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #d8d8d9;
    margin-bottom: 10px;
  }
}

.tours__card:hover {
  a {
    opacity: 1;
    z-index: 2;
  }

  h3 {
    left: 25px;
    top: 35px;
    z-index: 1;
  }

  img {
    opacity: 0;
  }

  .tours__description {
    opacity: 1;
  }
}

@media (max-width: $mid-size) {
  .tours {
    padding-top: 90px;
    padding-bottom: 70px;

    h2 {
      font-size: 26px;
    }
  }

  .tours__wrapper {
    justify-content: center;
  }

  .tours__card {
    a {
      width: 240px;
    }

    h3 {
      left: 35px;
      bottom: 29px;
    }

    img {
      width: 309px;
      height: 386px;
    }
  }

  .tours__card:hover {
    h3 {
      left: 35px;
    }
  }

  .tours__description {
    width: 309px;
    padding: 100px 35px;
    padding-top: 75px;
  }
}

@media (max-width: $min-size) {
  .tours {
    padding-top: 57px;
    padding-bottom: 35px;

    h2 {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  .tours__card {
    width: 100%;
    max-width: 400px;
    margin: 0;
    margin-bottom: 26px;

    a {
      width: 220px;
    }

    h3 {
      bottom: 22px;
    }

    img {
      padding: 0 10px;
      box-sizing: border-box;
      width: 100%;
      height: auto;
    }
  }

  .tours__card:hover {
    h3 {
      left: 45px;
    }
  }

  .tours__description {
    left: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    padding: 100px 10.9%;
    padding-top: 75px;
    margin: 0 auto;
    height: 99.4%;
  }
}
