.trainers {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 123px;
  box-sizing: border-box;
  display: flex;

  h2 {
    font-family: "Bebas Neue", "Open Sans", sans-serif;
    font-size: 47px;
    line-height: 47px;
    letter-spacing: 0.06em;
    color: #102654;
    margin: 0;
    margin-bottom: 56px;
    margin-left: 5px;
  }

  img {
    object-fit: cover;
  }
}

.trainers__wrapper {
  width: 85.4%;
  max-width: 1166px;
  align-items: flex-start;
}

.trainers__block {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  svg:hover {
    opacity: 0.5;
  }
}

.trainers__mask {
  overflow: hidden;
}

.trainers__slider {
  min-width: 204.5%;
  display: flex;
  justify-content: space-between;
}

.trainers__card {
  position: relative;
  width: 11%;
  text-decoration: none;
  margin-right: 10px;

  h3 {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    width: 100%;
    text-align: center;
    bottom: 4px;
    z-index: 2;
  }
}

.trainers__card-description {
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(16, 38, 84, 0.89);
  width: 100%;
  height: 100%;
  padding-top: 75px;
  text-align: center;
  opacity: 0;

  span {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #b6bdcc;
    margin-bottom: 40px;
    vertical-align: baseline;
  }

  ul {
    text-align: left;
    padding-left: 50px;
    margin: 0;
    width: 145px;
  }

  li {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 20px;
  }
}

.trainers__card:hover {
  .trainers__card-description {
    opacity: 1;
  }

  h3 {
    top: 28px;
  }
}

.trainers__arrow-prev {
  left: -55px;
}

.trainers__arrow-next {
  right: -55px;
}

@media (max-width: 1300px) {
  .trainers__card-description span {
    margin-bottom: 20px;
  }
}

@media (max-width: $mid-size) {
  .trainers {
    padding-top: 36px;
    padding-bottom: 98px;

    h2 {
      font-size: 40px;
      line-height: 40px;
      margin: 0 auto;
      margin-bottom: 45px;
    }
  }

  .trainers__wrapper {
    width: 88.3%;
  }

  .trainers__block {
    align-items: center;

    svg {
      position: relative;
      transform: translateY(0);
    }
  }

  .trainers__mask {
    width: 87.8%;
    margin-left: 27px;
  }

  .trainers__slider {
    min-width: 395.5%;
  }

  .trainers__card {
    width: 268px;
    margin-right: 0;

    img {
      width: 100%;
      height: 294px;
    }
  }

  .trainers__arrow-prev {
    left: 0;
  }

  .trainers__arrow-next {
    right: 0;
  }
}

@media (max-width: $min-size) {
  .trainers {
    padding-top: 40px;
    padding-bottom: 70px;

    h2 {
      width: 100%;
      text-align: center;
      font-size: 30px;
      line-height: 30px;
      letter-spacing: 0.07em;
      margin-bottom: 45px;
    }
  }

  .trainers__wrapper {
    width: 91%;
  }

  .trainers__block {
    width: 290px;
    margin: 0 auto;

    svg {
      transform: scale(0.7);
    }
  }

  .trainers__mask {
    width: 78%;
    margin-left: 0;
  }

  .trainers__slider {
    min-width: 800%;
  }

  .trainers__card {
    height: 274px;

    img {
      height: 100%;
    }
  }

  .trainers__card-description {
    height: 100%;
  }
}
